*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
}

header {
    width: 100%;
}

nav ul li{
    list-style: none;
}

nav a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background:hsl(203, 4%, 87%);
    top: 0%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 25px;
    font-weight: var(--font-medium);
    letter-spacing: 7px;
}

:root {
    --header-height: 3rem;
  
    /*================== COLORS  ==================   */
     --principal-color: 225;

    --first-color: hsl(var(--principal-color), 58%, 50%)  ;
    --first-color-second:  hsl(var(--principal-color), 58%, 50%)   ;
    --first-color-alt:  hsl(var(--principal-color), 52%, 51%)   ;
    --first-color-lighter:   hsl(var(--principal-color), 92%, 85%)  ;
    --title-color: hsl(var(--principal-color), 8%, 15%);
    --text-color: hsl(var(--principal-color), 8%, 45%); ; 
    --text-color-light: hsl(var(--principal-color), 8%, 65%);;
    --input-color: hsl(var(--principal-color), 70%, 96%); ;
    --body-color: hsl(var(--principal-color), 60%, 99%); ;
    --containter-color: #ffffffff ;

        
    /*================== FONTS AND TYPOGRAPHY ==================   */
    
    --body-font: 'Open Sans', sans-serif;

    /* .5rem = 8px , 1rem = 16px , 1.5rem = 24px */
   
    --big-font-size: 2rem ;
    --h1-font-size:1.5rem ;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*================== FONTS WEIGHT==================   */
    --font-medium: 500 ;
    --font-semi-bold: 600;

}

  /* ================== MEDIA QUERIES ==================   */
  @media screen and (min-width: 968px) {

    :root {
    --big-font-size: 3rem ;
    --h1-font-size: 2.25rem ;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .813rem;
    }
  }


